<h2>Press Ctrl + mouse hover to create walls/ also use arrow key for movement</h2>
<div class="container">
  <div *ngFor="let col of columns" class="d-flex">
    <div *ngFor="let cell of col">
      <!-- <app-cell [isAgv]="cell.isAgv" [isWall]="cell.isWall"></app-cell> -->
      <app-cell [cell]="cell"></app-cell>
    </div>
  </div>

  <div style="width: 200px; height: 200px;" class="container">
    <div class="row  justify-content-around">
      <button (click)="btnClick('up')"  class="btn btn-primary col-5">up</button>
      
    </div>
    <div class="row m-1 justify-content-around">
      <button (click)="btnClick('left')"   class="btn btn-primary col-5">left</button>
      <button (click)="btnClick('right')"  class="btn btn-primary col-5">right </button>
    </div>
    <div class="row justify-content-around">
      <button (click)="btnClick('down')"  class="btn btn-primary col-5">down</button>
      
    </div>
  </div>

</div>